/Java1-02/module 06-9/CloneEx/nbproject/private/
/Java1-02/Лабы Java1/Lab4/MyCounter/nbproject/private/
/Java1-02/Лабы Java1/Lab5/MyCounter/build/
/Java1-02/Лабы Java1/Lab5/MyCounter/nbproject/private/
/Java1-02/Лабы Java1/Решения/MyCounter/nbproject/private/